{% extends "admin/change_form.html" %}


{% block extrastyle %}

    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ui-lightness/jquery-ui-1.8.17.custom.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/combobox.css">
{% endblock %}

{% block extrahead %}
    {{ block.super }}

    {% if debug %}
        <script type="text/javascript" src="{{ STATIC_URL }}/js/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.17.custom.min.jss"></script>
    {% else %}
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript">
              google.load("jquery", "1.7.1");
            google.load("jqueryui", "1.8.16");
        </script>
    {% endif %}

    <script type="text/javascript" src="{{ STATIC_URL }}js/combobox.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/mustache.js"></script>

{% endblock %}

{% block footer %}
    {{ block.super }}

    <script type="text/javascript">
        $(document).ready(function(){
            $("#id_adress").combobox();
            var style = $("#id_adress_ac").attr('style'); 
            if (style == undefined){
                style = ''
            }
            $("#id_adress_ac").attr('style',  style + " width: 400px;");
        })

    </script>
{% endblock %}